* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
  font-family: 'Karla';
  background-color: #EEEEEE;
  height: auto;
}
.nav {
  position: fixed;
  top: 20px;
  width: 90%;
  height: 50px;
  margin-left: 4%;
  background-color: #FFC94D;
  padding: 12px 17px;
  border-radius: 8px;
  font-family: 'Josefin Sans';
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav a:hover {
  color: #454B54;
}
a.name {
  font-family: 'Dancing Script';
  font-weight: bold;
  font-size: 46px;
}
a.about, a.book  {
  float: right;
  font-size: 16px;
  margin-left: 17px;
  margin-top: 15px;
  padding: 3px;
}
a.book {
  font-size: 18px;
  border: 2px solid #454B54;
  border-radius: 8px;
  margin-top: 5px;
  padding: 10px 10px 6px 10px;
}
a.book:hover {
  background-color: #454B54;
  color: white;
}
.available {
  position: absolute;
  bottom: 50px;
  width: 80%;
  left: 10%;
  padding: 30px 0;
  background-color: #EEEEEE;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
}
.available input {
  width: 70%;
  height: 25px;
  margin-top: 5px;
	padding: 5px 10px;
	border: 2px solid #FFC94D;
	border-radius: 10px;
	cursor: pointer;
}
.available input:focus {
	outline: none;
}
.in, .out, .check {
  width: 35%;
  float: left;
}
.check {
  width: 30%;
}
.check input {
  position: relative;
  top: 20px;
  height: 35px;
  font-size: 17px;
  color: #454B54;
  border: 1.5px solid #454B54;
  border-radius: 10px;
	cursor: pointer;
}
.check input:hover {
  background-color: #454B54;
  color: #EEEEEE;
}
footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #FFC94D;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
}
footer p {
	font-size: 32px;
	font-weight: 700;
	padding-top: 21px;
}

/* book_room.php */
.choose {
  width: 60%;
  position: absolute;
  top: 280px;
  left: 20%;
  font-size: 56px;
  padding: 25px 0;
  background-color: #454B54;
  opacity: 0.9;
  color: #FFC94D;
  text-align: center;
}
.available_choose {
  position: relative;
  width: 80%;
  margin: 50px 10%;
  height: 120px;
  font-size: 17px;
  color: #454B54;
}
.in_choose, .out_choose {
  text-align: center;
  width: 50%;
  float: left;
  font-size: 21px;
  margin-bottom: 50px;
}
.room_card {
  float: left;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 2px solid #454B54;
}
.room_card:last-child {
	border-bottom: 2px solid #454B54;
	padding-bottom: 30px;
}
.room {
  float: left;
  height: 100%;
}
h2 {
  padding: 10px 0 20px 0;
  border-bottom: 1.5px solid black;
	letter-spacing: 0.5px;
}
h3, h4 {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
h3 {
  font-size: 42px;
}
h4 {
  margin-top: 30px;
  font-size: 24px;
}
.choose_buttons {
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 80px;
}
.choose_button {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
	font-size: 32px;
	text-align: center;
	color: #454B54;
}
.click-button {
	width: 16%;
	font-size: 20px;
	margin-left: 5%;
	padding: 6px 12px;
	border: 2px solid #FFC94D;
	background-color: #EEEEEE;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	color: #666;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
.click-button:first-of-type {
	margin-left: 0;
}
.click-button:hover {
	background-color: #FFC94D;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.click-button:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
}
.close {
	position: absolute;
	top: 57px;
	left: 600px;
	color: #FFC94D;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 30px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 28%;
	height: 460px;
}
.input_field {
  width: 90%;
  margin-top: 5px;
  font-size: 17px;
  padding: 5px 0 5px 10px;
  border: 1.5px solid #FFC94D;
  border-radius: 8px;
}
.input_field:focus {
  outline: inherit;
  background-color: #fff7e6;
}
.noclick {
	pointer-events: none;
}
.submit {
	float: right;
	font-size: 17px;
	border: 1.5px solid #FFC94D;
	background-color: #FFC94D;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	margin-top: 8px;
	margin-left: 5px;
	padding: 8px 20px;
	cursor: pointer;
	transition: 0.3s;
}
.submit:hover {
	border-color: #FFBA1A;
	background-color: #FFBA1A;
}
.cancel {
	border: 2px solid #FFC94D;
	background-color: transparent;
}
.cancel:hover {
	border: 2px solid #FFBA1A;
	background-color: transparent;
}

/* card.php */
#main {
	position: relative;
	width: 70%;
	height: 330px;
	top: 150px;
	border: 2px solid #FFC94D;
	border-radius: 10px;
	background-color: white;
}
#left {
	float: left;
	width: 42%;
	height: 310px;
	padding: 10px 15px;
	text-align: left;
	display: flex;
	flex-flow: column nowrap;
	border-right: 2px solid #FFC94D;
}
#left h1 {
	margin-top: 2px;
	font-size: 28px;
}
#left h3 {
	margin: 0;
	margin-top: 8px;
	padding-bottom: 35px;
	font-size: 16px;
}
#left p {
	font-size: 19px;
	padding-top: 10px;
}
#right {
	position: absolute;
	width: 47%;
	height: 100%;
	top: 0;
	left: 46%;
	display: flex;
	flex-flow: column nowrap;
	padding-left: 20px;
}
#right form {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin-top: 30px;
	font-size: 20px;
}
#right form input::-webkit-outer-spin-button, #right form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#right form input, #right form select {
	border: none;
	border-bottom: 2px solid #FFC94D;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	position: relative;
}
#right form input:focus, #right form select:focus {
	outline: none;
	border-bottom: 2.5px solid #FFC94D;
}
#right form .form-field {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-bottom: 12.5px;
}
#right form #date-val {
	display: flex;
}
#right form #date-val select {
	width: 110px;
	margin-right: 30px;
}
#right form .cvv {
	width: 70px;
}
#right form input[type="submit"] {
	width: 250px;
	margin: 0 auto;
	margin-right: 0;
	padding: 10px 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border: 3px solid #FFC94D;
	border-radius: 50px;
	background-color: #FFC94D;
	color: white;
	font-weight: 400;
	font-size: 14pt;
	margin-top: 6px;
	transition: 0.3s;
	cursor: pointer;
}
#right form input[type="submit"]:hover {
	background-color: #ffba1a;
}
